
html, body {
  height:100%;
}

.el-breadcrumb {
  height: 100%;
  line-height: 60px;
}

.el-menu-item.is-active {
  color: #ff6600;
}

a {
  text-decoration: none;
  /* color:white; */

}

.el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover{
  color:#ff6600;
}
